/* Theme variables */
:root {
    --board-color: #FCF3EE;
    --board-border-color: #7A542E;
    --bg-color: #D6E8EA; 
    --snake-color: #4C8D94;
    --settings-bg-color: #A1CACE;
    --settings-border: none;
    --btn-color: #fff;
    --btn-bg-color: #8B416B;
    --btn-bg-hover-color: #6F3456;
    --btn-hover-color: #fff;
    --title-color: #0A0A0A;
    --title-spacing: none;
    --apple-color: #E95952;
    --apple-shadow-color: #E33026;
    --title-font: 'Dosis', sans-serif;
    --border-radius-sm: 15px;
    --border-radius-md: 25px;
    --text-transform: none;
    --select-bg-color: #fff;
    --grid: 400px;
    --btn-border: none;
    --settings-color: #000;
   
}

.beachy {
    --board-color: #FCF3EE;
    --board-border-color: #7A542E;
    --bg-color: #D6E8EA; 
    --snake-color: #4C8D94;
    --settings-color: #000;
    --settings-bg-color: #A1CACE;
    --settings-border: none;
    --btn-color: #fff;
    --btn-bg-color: #8B416B;
    --btn-bg-hover-color: #6F3456;
    --btn-hover-color: #fff;
    --title-color: #0A0A0A;
    --title-spacing: none;
    --apple-color: #E95952;
    --apple-shadow-color: #E33026;
    --title-font: 'Dosis', sans-serif;
    --border-radius-sm: 15px;
    --border-radius-md: 25px;
    --text-transform: none;
    --select-bg-color: #fff;
    --btn-border: none;
}

.retro {
    --board-color: #FCF3EE;
    --board-border-color: #FCCE00;
    --bg-color: #432C0F; 
    --snake-color: #254A70;
    --settings-color: #000;
    --settings-bg-color: #F66D13;
    --settings-border: none;
    --btn-color: #fff;
    --btn-bg-color: #224A6D;
    --btn-bg-hover-color: #0F2247;
    --btn-hover-color: #fff;
    --title-color: #FFFAD1;
    --title-spacing: none;
    --apple-color: #C83D13;
    --apple-shadow-color: #C83D13;
    --title-font: 'Chango', sans-serif;
    --border-radius-sm: 15px;
    --border-radius-md: 25px;
    --text-transform: none;
    --select-bg-color: #FFFAD1;
    --btn-border: none;
}

.luxe {
    --board-color: #171516;
    --board-border-color: #BC854E;
    --bg-color: #171516; 
    --snake-color: #fff;
    --settings-color: #fff;
    --settings-bg-color: none;
    --settings-border: 1px solid #BC854E;
    --btn-color: #fff;
    --btn-bg-color: #684727;
    --btn-border: none;
    --btn-bg-hover-color: #BC854E;
    --btn-hover-color: #fff;
    --title-color: #fff;
    --title-spacing: 4px;
    --apple-color: #C83D13;
    --apple-shadow-color: #C83D13;
    --title-font: 'Cormorant', serif;
    --border-radius-sm: 0;
    --border-radius-md: 0;
    --text-transform: uppercase;
}

.mobile {
    --grid: 200px;
} 

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    height: 100vh;
    text-align: center;
    background-color: var(--bg-color);
}

h1, h2 {
    margin: 0;
}

.outer-container {
    margin: auto;
}

.container {
    margin: auto;
    display: flex;
    align-items: center;
}

.game-info, .game-container {
    padding: 0 50px;
    margin: 0 15px;
}


.title {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 70px;
    margin-bottom: 50px;
    text-transform: var(--text-transform);
    letter-spacing: var(--title-spacing);
}

.settings-container {
    margin: 50px auto 0 auto;
    max-width: 400px;

}

select {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--select-bg-color);

}

select, input {
    padding: 2px 5px;
    outline: none;
    border: 1px solid var(--snake-color);
}

.settings {
    background-color: var(--settings-bg-color);
    color: var(--settings-color);
    padding: 15px;
    border-radius: var(--border-radius-sm);
    border: var(--settings-border);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}
.setting {
    padding: 10px;
}

.start-btn {
    border: unset;
    padding: 15px 35px;
    border-radius: var(--border-radius-md);
    background-color: var(--btn-bg-color);
    text-transform: uppercase;
    border: var(--btn-border);
    font-size: 20px;
    color: var(--btn-color);
    margin-top: 25px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    outline: none;
}

.start-btn:hover, .start-btn:focus {
    background-color: var(--btn-bg-hover-color);
    color: var(--btn-hover-color);
    cursor: pointer;
}

.game-stats {
    margin-top: 25px;
    color: var(--title-color);
}

.message {
    padding: 5px 8px;
    display: none;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    width: var(--grid);
    height: var(--grid);
    border: solid 2px var(--board-border-color);
    background-color: var(--board-color);
    margin: 0 auto;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: var(--snake-color);
    border-radius: 3px;
}

.apple {
	position: relative;
	width: 20px;
	height: 20px;
	background-color: var(--apple-color);
	border-radius: 2em 2em 3em 3em;
	box-shadow: inset -.25em -.25em var(--apple-shadow-color);
}

.apple:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 15px;
	height: 5px;
	width: 2px;
	background-color: transparent;
	border-radius: 50% 0;
	box-shadow: -.25em 0 0 brown;
}

/* Mobile Controls */
.mobile-controls {
    margin-top: 30px;
}

.display-controls {
    display: none;
}

.control {
    font-size: 40px;
    color: var(--title-color);
}

.control:hover, .control:focus {
    color: var(--board-border-color);
    cursor: pointer;
}

.control-btn {
    border: unset;
    background: none;
    outline: none;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
    .title {
        font-size: 50px;
        padding-top: 30px;
        margin-bottom: 0;
    }
    .container {
        display: block;
    }

    .game-info, .game-container {
        padding: 20px 0;
    }

    .theme-speed {
        display: flex;
    }
}
