:root {
     /* Beachy Theme - DEFAULT */
     --board-color: #FCF3EE;
     --board-border-color: #7A542E;
     --bg-color: #D6E8EA; 
     --message-bg-color: #BC854E;
     --snake-color: #4C8D94;
     --settings-bg-color: #A1CACE;
     --btn-bg-color: #8B416B;
     --btn-bg-hover-color: #6F3456;
     --title-color: #0A0A0A;
     --apple-color: #E95952;
     --apple-shadow-color: #E33026;
     --title-font: 'Dosis', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    height: 100vh;
    text-align: center;
    background-color: var(--bg-color);
}

h1, h2 {
    margin: 0;
}

.outer-container {
    margin: auto;
}

.container {
    margin: auto;
    display: flex;
    align-items: center;
}

.game-info, .game-container {
    padding: 0 50px;
    margin: 0 15px;
}


.title {
    font-family: var(--title-font);
    font-size: 70px;
    margin-bottom: 50px;
}

.settings-container {
    margin-top: 50px;

}

select {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

select, input {
    padding: 2px 5px;
    outline: none;
    border: 1px solid var(--snake-color);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: solid 2px var(--board-border-color);
    background-color: var(--board-color);
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: var(--snake-color);
    border-radius: 3px;
}

.apple {

	position:relative;
	width:20px;
	height:20pxem;
	background-color: var(--apple-color);
	border-radius:2em 2em 3em 3em;
	box-shadow:inset -.25em -.25em var(--apple-shadow-color);
}

.apple:after {
	content:'';
	position:absolute;
	top:-2px;
	left: 15px;
	height:5px;
	width:2px;
	background-color:transparent;
	border-radius:50% 0;
	box-shadow:-.25em 0 0 brown;
}



.settings {
    background-color: var(--settings-bg-color);
    padding: 15px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}
.setting {
    padding: 10px;
}

.start-btn {
    border: unset;
    padding: 15px 35px;
    background-color: var(--btn-bg-color);
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    margin-top: 25px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
    outline: none;
}

.start-btn:hover, .start-btn:focus {
    background-color: var(--btn-bg-hover-color);
}

.game-stats {
    margin-top: 25px;
}

.message {
    background-color: var(--message-bg-color);
    padding: 5px 8px;
    color: #fff;
    display: none;
}

/* Mobile Controls */
.mobile-controls {
    margin-top: 50px;
}

.display-controls {
    display: none;
}

.control {
    font-size: 60px;
    color: var(--title-color);
}

.control:hover, .control:focus {
    color: var(--board-border-color);
}

.control-btn {
    border: unset;
    background: none;
    outline: none;
}

/* Theme Settings */
.retro {
    --board-color: #FCF3EE;
    --board-border-color: #7A542E;
    --bg-color: #D6E8EA; 
    --message-bg-color: #BC854E;
    --snake-color: #4C8D94;
    --settings-bg-color: #A1CACE;
    --btn-bg-color: #8B416B;
    --btn-bg-hover-color: #6F3456;
    --title-color: #0A0A0A;
    --apple-color: #E95952;
    --apple-shadow-color: #E33026;
    --title-font: 'Chango', sans-serif;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
    .title {
        padding-top: 30px;
        margin-bottom: 0;
    }
    .container {
        display: block;
    }

    .game-info, .game-container {
        padding: 20px 0;
    }
}
